<div class="navbar">
  <ul class="navbar-holder">
    <li>
      <a href="/" class="left-underline nav-button brand-logo">
        Welcome to Mountain Lake Bed & Breakfast
      </a>
    </li>

    
    {{#if loggedIn}}
      <li class="nav-item active">
        <a
          href="#section-1"
          class="left-underline nav-button"
          data-scroll
        >Reservation</a>
      </li>
      <li class="nav-item">
        <a href="#" class="left-underline nav-button" data-scroll>Log Out</a>
      </li>
    {{else}}<li class="nav-item">
        <a href="/login" class="left-underline nav-button" data-scroll>Log In</a>
      </li>
    {{/if}}<li class="nav-item">
      <a href="#rooms" class="left-underline nav-button" data-scroll>Room
        Pictures</a>
    </li>
  </ul>
</div>