<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mountain Lake Bed and Breakfast</title>
  <link rel="stylesheet" href="/stylesheets/style3.css">
  <link rel="stylesheet" href="/stylesheets/style2.css">
</head>

<body>
  <div class="wrapper">
    <header>
     {{>navbar}} 
      <nav>
  {{!-- {{#if loggedIn}}
  <a href="/dashboard">dashboard</a>
  <button id="logout" class="btn-no-style">logout</button>
  {{else}}
  
  {{/if}} --}}
</nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      We Hope You Enjoy Your Stay!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>