<section class="ftco-section img js-fullheight" style="background-image: url(images/bg00.jpg)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Have an Account?</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Sign in</h3>
          <form action="#" class="signin-form">
            <div class="form-control">
              <input type="text" id="email-login" class="form-control" placeholder="Email" required />
            </div>
            <div class="form-control">
              <input id="password-login" type="password" class="form-control" placeholder="Password" required />
            </div>
            <br>
            <div class="form-control">
              <button type="submit" class="form-control btn btn-primary submit px-3">
                Sign In
              </button>
            </div>
            <div class="form-group d-md-flex"></div>
          </form>
          <br>
          <p class="w-100 text-center">&mdash; Need to Register? &mdash;</p>
          <div class="form-group text-center">
            <div class="form-control">
              <br>
              <a href="/signup"><button type="submit"  id = "register_btn" class="form-control btn btn-primary submit px-3">
                Register
              </button></a>
              
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<script src="/javascript/login.js"></script>