<section class="ftco-section img js-fullheight" style="background-image: url(images/bg00.jpg)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="login-wrap">
        <div class="text-center">
           <h3 >Sign up for an account now!</h3>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <form action="#" class="signup-form">
              <div>
                <input id="first_name" type="text" class="form-control" placeholder="First Name" required />
              </div>
              <div>
                <input id="last_name" type="text" class="form-control" placeholder="Last name" required />
              </div>
              <div>
                <input id="email-signup" type="text" class="form-control" placeholder="Email" required />
              </div>
              <div>
                <input id="password-signup" type="password" class="form-control" placeholder="Password" required />
              </div>
              <div>
                 <input id="password-signup" type="password" class="form-control" placeholder="Confirm Password" required />
              </div>
             <div>
            <br>
            <button type="submit" id="register_btn" class="form-control btn submit btn-primary">
              Register
            </button>
          </div>

          <br />
          <br />
          <br />
          <br />
      </div>
    </div>
  </div>
  </div>
</section>
<script src="/javascript/signup.js"></script>